.banner {
  background: #cd14d3;
  padding: 2rem;
  text-align: center;
  margin: 20px 0 40px 0;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #fff;
}

.description {
  font-size: 1rem;
  color: #fff;
}
